
@{
    ViewData["Title"] = "SuccessAuth";
}

<h4>2Factor Authentication was successful<br/> you can now sign in from your device</h4>. 

<div>
    <a asp-action="Index" class="btn btn-primary">Go Back</a>
</div>